services:
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: nakedpineapple-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init/postgres:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - nakedpineapple-network

volumes:
  postgres_data:

networks:
  nakedpineapple-network:
    driver: bridge
